.nav {
    display: flex;
  gap: 16px;
  }

.link {
    color: rgb(3, 2, 2);
    text-decoration: none;
    font-weight: bold;
    transition: color .3s ease-in-out;

    &:hover,
    &:focus {
      color: #1976d2;
    }
}

.link.active {
  color: #1976d2;
}