.container {
  width: 100vw;
  padding-inline: max(1rem, env(safe-area-inset-left)) max(1rem, env(safe-area-inset-right));
  padding-block: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f9f9f9;
}
